# CONFIGURACIÓN DEL SERVIDOR
PORT=3000
NODE_ENV=development

# BASE DE DATOS — MongoDB Atlas
DB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/<dbname>

# AUTENTICACIÓN — JWT
JWT_SECRET=<clave_secreta_aleatoria_minimo_32_caracteres>
JWT_EXPIRES_IN=2h
JWT_REFRESH_SECRET=<clave_refresh_aleatoria_minimo_32_caracteres>
JWT_REFRESH_EXPIRES_IN=7d
