PORT=3000
NODE_ENV=development

# MongoDB Atlas
DB_URI=mongodb+srv://user:password@cluster.mongodb.net/bildyapp

# JWT
JWT_SECRET=tu_clave_secreta_muy_larga_y_aleatoria
JWT_EXPIRES_IN=2h
JWT_REFRESH_SECRET=tu_clave_refresh_muy_larga_y_aleatoria
JWT_REFRESH_EXPIRES_IN=7d
